.promotionImg {
    width: 100%;
    max-width: 700px;
}

.promotionNotice {
    width:390px;
}

.btnKakaoChannel {
    display: flex;
    padding: 15px 24px;
    background-color: #fee500;
    width: calc(100% - 80px);
    position: fixed;
    height: 22px;
    border-radius: 6px;
    bottom: 24px;
}