.promotionImg {
    flex-grow: 1;
}

.promotionNotice {
    width:390px;
}

.btnKakaoChannel {
    width: calc(100% - 32px);
    margin: 0 16px;
    position: fixed;
    height: 52px;
    border-radius: 6px;
    bottom: 24px;
}