.place-bottom {
    width: 369px;
    height: 126px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(34, 34, 34, 0.15);
    background-color: var(--white-96);
    position: absolute;
    left: 10px;
    bottom: 13px;
}

.place-bottom-lr{
    display:flex;
    height: 94px;
    width: 94px;
    /* border: solid 1px black; */
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
}
.place-image{
    
    flex-grow: 0;
    border-radius: 10px;
}
.place-smoke{
  

  width: 19px;
  height: 11px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.22px;
  text-align: center;
  color: #ff5519;
}

.place-smoke-box{
  width: 20px;
  height: 10px;
  flex-grow: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 4px;
  border-radius: 2px;
  border: solid 1px #ff5519;
}

.place-title{
    height: 21px;
    flex-grow: 1;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: left;
    color:#222222;
}
.place-title-box{
    align-self: stretch;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin-left: 6px;

}
.place-text-box{
    display:flex;
    flex-wrap: nowrap;
    
}
.place-address{
  height: 16px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  text-align: left;
  color: rgba(34, 34, 34, 0.5);
  margin-left: -35px;
}
.place-button{
    position: absolute;
    left: 142px;
    bottom: 29px;

}
.place-button-route{
  height: 36px;
  width: 109.5px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 11px 9px;
  border-radius: 100px;
  box-shadow: 0 2px 10px 0 rgba(255, 85, 25, 0.1);
  background-color: #ff5519;
  outline:0;
  border:0;
  cursor: pointer;
}
.place-button-route-text{
  width: 36px;
  height: 18px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: white;
}

.place-button2{
    position: absolute;
    left: 262.8px;
    bottom: 29px;
}
.place-button-help{
    height: 36px;
  width: 109.5px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 11px 9px;
  border-radius: 100px;
  box-shadow: 0 2px 10px 0 rgba(255, 85, 25, 0.1);
  background-color: #ffffff;
  outline:0;
  border: solid 1px rgba(34, 34, 34, 0.15);
  cursor: pointer;
}
.place-button-help-text{
  width: 52px;
  height: 18px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
 
  text-align: left;
  color: black;
}